absl-py==2.0.0
adal==1.2.7
aiosignal==1.3.1
appdirs==1.4.4
applicationinsights==0.11.10
argcomplete==1.12.3
attrs==23.1.0
awscli==1.31.13
azure-cli-core==2.11.1
azure-cli-telemetry==1.1.0
azure-common==1.1.28
azure-core==1.29.5
azure-mgmt-authorization==0.61.0
azure-mgmt-compute==13.0.0
azure-mgmt-core==1.2.0
azure-mgmt-network==11.0.0
azure-mgmt-resource==10.2.0
azure-mgmt-storage==11.2.0
azure-storage-blob==12.4.0
bcrypt==4.1.1
beautifulsoup4==4.12.2
boto==2.49.0
boto3==1.33.13
botocore==1.33.13
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
chex==0.1.6
click==8.0.4
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
colorama==0.4.4
crcmod==1.7
cryptography==41.0.7
cycler==0.12.1
Cython==0.29.36
d4rl @ git+https://github.com/Farama-Foundation/d4rl@f2a05c0d66722499bf8031b094d9af3aea7c372b
-e git+ssh://git@github.com/ralfroemer99/diffusion_control.git@3828e477e748f4e7ac9a36f88890a1f573efd675#egg=diffusion_plannning
distlib==0.3.8
dm-control==1.0.15
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring-parser==0.15
docutils==0.16
doodad @ git+https://github.com/JannerM/doodad.git@77cdefb9862625bb6f419e66cd502318225dc992
einops==0.7.0
etils==1.3.0
fasteners==0.19
ffmpeg==1.4
ffprobe==0.5
filelock==3.13.1
flax==0.4.0
frozenlist==1.4.0
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.40
glfw==2.6.3
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
grpcio==1.43.0
gym @ file:///home/conda/feedstock_root/build_artifacts/gym_1644328751939/work
h5py==3.10.0
httplib2==0.22.0
humanfriendly==8.2
idna==3.6
imageio==2.33.1
importlib-resources==6.1.1
isodate==0.6.1
jax==0.2.21
jaxlib==0.4.13
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kiwisolver==1.4.5
knack==0.7.2
labmaze==1.0.6
lxml==4.9.3
matplotlib==3.3.4
mjrl @ git+https://github.com/aravindr93/mjrl@3871d93763d3b49c4741e6daeaebbc605fe140dc
ml-dtypes==0.2.0
msal==1.0.0
msal-extensions==0.1.3
msgpack==1.0.7
msrest==0.7.1
msrestazure==0.6.4
mujoco==3.0.1
mujoco-py==2.1.2.14
mypy-extensions==1.0.0
networkx==3.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020413938/work
oauthlib==3.2.2
opt-einsum==3.3.0
optax==0.1.7
pandas==2.0.3
paramiko==2.12.0
Pillow==10.1.0
pkginfo==1.9.6
pkgutil_resolve_name==1.3.10
platformdirs==4.1.0
portalocker==1.7.1
protobuf==3.20.3
psutil==5.9.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybullet==3.2.6
pycparser==2.21
Pygments==2.17.2
PyJWT==1.7.1
PyNaCl==1.5.0
PyOpenGL==3.1.7
pyOpenSSL==23.3.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
ray==2.0.0
referencing==0.32.0
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.13.2
rsa==4.7.2
s3transfer==0.8.2
scikit-image==0.17.2
scikit-video==1.1.11
scipy==1.10.1
sentry-sdk==1.39.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
soupsieve==2.5
tabulate==0.9.0
termcolor==2.4.0
tifffile==2023.7.10
toolz==0.12.0
torch==1.9.1+cu111
tqdm==4.66.1
typed-argument-parser==1.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.18
virtualenv==20.25.0
wandb==0.16.1
